body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', monospace;
  font-size: 3rem;
  background: #fff url(../img/jazz.jpg) no-repeat;
  background-size: cover;
}

.voicemails {
  width: 100%;
  margin: 3em auto;
  background-color: #fff;
  border: 1px solid #333;
  border-collapse: collapse;
}
.voicemails th {
  background-color: cyan;
}
.voicemails th, .voicemails td {
  border: 1px solid #333;
  padding: .2em 1em;
}

button {
  background-color: violet;
  border: 1px solid #333;
  font-family: 'Verdana', monospace;
  font-size: 3rem;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
  
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.voicemails {
  width: 50%;
  margin: 10em auto;
  background-color: #fff;
  border: 1px solid #333;
  border-collapse: collapse;
}
} 

