html {
  height: 100%;
}


body {

  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Impact', monospace;
  font-size: 40px;
 
  
}
h1 {

}
 header {
        margin: 0;
        padding: 0;
position: sticky;
        /* Set the height of the header to 100% of the viewport height */
        text-align: center;
      
      }
      #my_dataviz {position: fixed;}



button {
  background-color: lightcoral;
  border: 1px solid #333;
  font-family: 'Impact', monospace;
  font-size: 50px;
  font-weight: bold;
}

.del_btn {
  background-color: lightcoral;
  
}
.play_btn {
  background-color: lightgreen;
  
}
.voicemails {
  width: 60%;
  margin: 2em auto;
  background-color: #fff;
  border: 1px solid #333;
  border-collapse: collapse;
}
.voicemails th {
  background-color: lightblue;
}
.voicemails th, .voicemails td {
  border: 1px solid #333;
  padding: .2em 1em;
}
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .voicemails {
  width: 90%;
  margin: 10em auto;
  background-color: #fff;
  border: 1px solid #333;
  border-collapse: collapse;
}
.voicemails th {
  background-color: lightblue;
}
.voicemails th, .voicemails td {
  border: 1px solid #333;
  padding: .2em 1em;
}
button {
  background-color: lightcoral;
  border: 1px solid #333;
  font-family: 'Impact', monospace;
  font-size: 40px;
  font-weight: bold;
}
  
}




.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}