html {
  height: 100%;
}


body {

  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Impact', monospace;
  font-size: 30px;
  background: #fff url(https://molnet.vercel.app/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2F9ehvvzxo%2Fproduction%2F93e7f5453d2a411bac0bc8b0ed14c034afbccc5a-1920x1080.png%3Frect%3D15%2C0%2C1890%2C1080%26w%3D3500%26h%3D2000%26fit%3Dcrop%26auto%3Dformat&w=1200&q=75) 
  no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
}


.voicemails {
  width: 90%;
  margin: 10em auto;
  background-color: #fff;
  border: 1px solid #333;
  border-collapse: collapse;
}
.voicemails th {
  background-color: cyan;
}
.voicemails th, .voicemails td {
  border: 1px solid #333;
  padding: .2em 1em;
}

button {
  background-color: violet;
  border: 1px solid #333;
  font-family: 'Impact', monospace;
  font-size: 30px;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
  
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.voicemails {
  width: 50%;
  margin: 10em auto;
  background-color: #fff;
  border: 1px solid #333;
  border-collapse: collapse;
}
} 

